<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="Define el nombre de la aplicación desde la propiedad spring.application.name"/>
    <!-- ========================= -->
    <!-- PERFIL: DESARROLLO (DEV) -->
    <!-- ========================= -->
    <springProfile name="dev">
        <property name="LOG_PATTERN" value="%cyan(%d{ISO8601}) %highlight(%-5level) [%blue(%thread)] [${APP_NAME},%X{traceId:-},%X{spanId:-}]  %yellow(%logger).%M:%line - %msg%n"/>
        
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    
    <!-- ========================= -->
    <!-- PERFIL: PRUEBAS (STAGE) -->
    <!-- ========================= -->
    <springProfile name="stage">
        <property name="LOG_PATTERN" value="%cyan(%d{ISO8601}) %highlight(%-5level) [%blue(%thread)] [${APP_NAME},%X{traceId:-},%X{spanId:-}] %yellow(%logger).%M:%line - %msg%n"/>
        
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    
    <!-- ========================== -->
    <!-- PERFIL: PRODUCCIÓN (PROD) -->
    <!-- ========================== -->
    <springProfile name="prod">
        <!-- Patrón sin colores -->
        <property name="LOG_PATTERN" value="%d{ISO8601} [%thread] %-5level [${APP_NAME},%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n"/>
        
        <!-- Appender consola -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        
        <!-- Appender archivo: INFO y superiores (info.log) -->
        <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/info.log</file>
            
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>2MB</maxFileSize>
                <maxHistory>1</maxHistory>
                <totalSizeCap>10MB</totalSizeCap>
            </rollingPolicy>
            
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        
        <!-- Appender archivo: ERROR (emailerror.log) -->
        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/error.log</file>
            
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>2MB</maxFileSize>
                <maxHistory>1</maxHistory>
                <totalSizeCap>10MB</totalSizeCap>
            </rollingPolicy>
            
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        
        <!-- Logger raíz (INFO y superiores) -->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="INFO_FILE" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

</configuration>